@import url(./font.css);

:root {

    --MB: "MB", sans-serif;
    --MR: "MR", sans-serif;
    --MM: "MM", sans-serif;
    --PO: "PO", sans-serif;
    --prymary: #000;
    --secondary: #fff;
    --dark-gray: #282828;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: var(--dark-gray);
}

.page_header {
    background-color: var(--dark-gray);
    padding-block: 6px;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_nav {
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav_link {
    color: var(--secondary);
    font-family: var(--MB);
    font-size: 20px;
    line-height: 24px;
}

.user_action {
    display: flex;
    gap: 25px;
}

.banner {
    background-image: url(../img/banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 635px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 38px;
}

.banner-title {
    color: var(--secondary);
    font-family: var(--PO);
    font-size: 100px;
    line-height: 75px;
}


.banner-link {
    padding: 13px 14px;
    background-color: var(--secondary);
    border-radius: 10px;
    color: var(--prymary);
    font-family: var(--MM);
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 11px;
}

.product {
    margin-top: 30px;
}

.product-content {
    display: flex;
    align-items: start;
    gap: 30px;
}

.content-text {
    margin-top: 33px;
    color: var(--secondary);
    font-family: var(--MM);
    font-size: 22px;
    line-height: 27px;
}

.content-img {
    max-width: 552px;
    width: 100%;
    display: block;
}

.align-center {
    align-items: center;
}

.info {
    margin-top: 50px;
}

.info-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-right-text,
.content-left-text {
    color: var(--secondary);
    font-family: var(--MB);
    font-size: 20px;
    line-height: 24px;
    max-width: 333px;
    width: 100%;
}

.content-left-text {
    text-align: right;
}

.content-img {
    width: 268px;
}

.category {
    margin-top: 80px;
    margin-bottom: 55px;
}

.category-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.content-card {
    background-color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    border-radius: 6px;
    padding: 15px 0;
    width: 255px;
}

.card-title {
    color: var(--prymary);
    font-family: var(--MB);
    font-size: 20px;
    line-height: 24px;
}

.card-img {
    height: 167px;
    width: max-content;
}

.card-price {
    color: var(--prymary);
    font-family: var(--MR);
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
}

.card-btn {
    padding: 7px 57px;
    background-color: var(--prymary);
    color: var(--secondary);
    text-transform: uppercase;
    font-family: var(--MB);
    font-size: 16px;
    line-height: 20px;
    border: none;
}